
body {
    padding: 0px;
    margin: 0px;
    background: #000000;
    transform: translateZ(0);
    -webkit-overflow-scrolling: touch;
}

/* Anchor hacks */

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

a:hover 
{
    color: inherit;
    text-decoration:none; 

}

a.underline
{
    background-image: linear-gradient(180deg,transparent 70%,#3d0404 0);
}

a.underline:hover
{
    background-image: linear-gradient(180deg,transparent 70%, #ce0d0d 0);
}

/* Img hacks */

img.social {
	width: 100%;
    height: 100%;
}

img.hero_image {
    position: absolute;
    width: 25%;
    height: auto;
    right: 0;
    padding: 20px;
}

img.work_logos {
    width: 20%;
    height: auto;
}

img.grayscale {
    -webkit-filter: grayscale(100%) opacity(25%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) opacity(25%);
}

img.grayscale2 {
    -webkit-filter: grayscale(100%) opacity(15%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) opacity(15%);
}

img.giphy {
    position:absolute;
    top: 20%;
    left: 25%;
}

img.amazon {
    position:absolute;
    top:20%;
    right:15%;
}

img.do {
    position:absolute;
    bottom:20%;
    left:10%;
}

img.stae {
    position:absolute;
    width: 25%;
    height: auto;
    bottom:25%;
    right:30%;
}

img.writing {
    position:absolute;
    width: 35%;
    height: auto;
    top:25%;
    right:10%;
}

img.hacks {
    /* position:absolute; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
    top: 5%;
}

img.chat {
    position:absolute;
    bottom: 10%;
    right:10%;
    width: 30%;
}

/* side nav animation fade in */

@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

.fadeone {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
    
.fadetwo {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
    
.fadethree {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
    
.fadefour {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.fadefive {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
    

/* Text styles */

h1.firstname {
	color: #BDC1BF;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
    font-size: 6em; 
    letter-spacing: -.11em;
    margin: 0px 20px 0px 10px;
    }
    
h1.lastname{
    color: #730000;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 6em; 
    letter-spacing: -.11em;
    line-height: 5%;
    margin: 0px 20px 60px 40px;
}

.namebox {
    border: none;
}

.linksection {
    position: relative;
    margin: 10px 10px 0px 0px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

h2.section{
    color: #BDC1BF;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em; 
    text-transform: uppercase;
    margin: 0px 0px 0px 20px;
    }

.main_text{
    color: #BDC1BF;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 1.5em; 
    top: 50%;
    transform: translateY(-50%);
    padding: 15% 15%;
    }

h1.links{
    color: #BDC1BF;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 3em; 
    letter-spacing: -.11em;
    text-align: right;
    margin: 0px 10px 0px 0px;
    }
    
.footer_text {
    position: absolute;
    color: #BDC1BF;
    font-family: 'Raleway', sans-serif;
    font-size: .875em; 
    text-decoration: none;
    text-align: left;
    margin: 10px 0px 0px 20px;
    }

.watermark {
    /* position: absolute; */
    color: #BDC1BF;
    font-family: 'Share Tech Mono', monospace;
    font-size: .875em; 
    text-align: right;
    }

.page{
    position: relative;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

/* Parallax setup*/

  .parallax-section {
    position: relative;
    height: 100vh;
    perspective: 1px;
    /* perspective-origin: 0 0; */
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax-front {
    z-index: 3;
    position: absolute;
    /* transform-origin: 0 0; */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  /* To correct size use scale() to compensate for placement on z-axis.  
  Correct formula is: 1 + (translateZ * -1) / perspective  */

  .parallax-middle {
    position: relative;
    z-index: 2;
    /* move the children to a layer in the background, */
    /* then scale them back up to their original size */
    /* transform-origin: 0 0; */
    -webkit-transform: translateZ(-1px) scale(3);
    transform: translateZ(-1px) scale(3);
  }

  .parallax-rear {
    position: relative;
    z-index: 1;
    /* move the children to a layer in the background, */
    /* then scale them back up to their original size */
    /* transform-origin: 0 0; */
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
  }

 /* z-index for parallax */
 #group1 {
    z-index: 5; /* slide over group 2 */
  }

  #group2 {
    z-index: 4; /* slide under groups 1 and 3 */
  }

  #group3 {
    z-index: 3; /* slide over group 2 and 4 */
  }

  #group4 {
    z-index: 2; /* slide over group 2 and 4 */
  }

/* Grid elements */

.name {
    position: relative;
    background: #000000;
    /* padding: 0px 0px 0px 0px;  */
	grid-area: name;
}

.left_gutter {
    position: relative;
    background: #000000;
    /* padding: 0px 0px 0px 0px;  */
	grid-area: left_gutter;
}

.main{
    background: #000000;
    padding: 0% 5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
    /* -webkit-overflow-scrolling: touch; */
    height: 100vh;
    -webkit-perspective: 1px;
    perspective: 1px;
	grid-area: main;
}

.footer {
	position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    width: 100vw;
	background: #2f2f2f;
	grid-area: footer;
}

/* Icons */
.twitter_icon {
	height: 28px;
	width: 28px;
	float: right;
	padding: 1px 10px 1px 10px;
}

.github_icon {
	height: 22px;
	width: 22px;
	float: right;
	padding: 4px 10px 4px 10px;
}

.telegram_icon {
	height: 22px;
	width: 22px;
	float: right;
	padding: 4px 10px 4px 5px;
}

.linkedin_icon {
	height: 22px;
	width: 22px;
	float: right;
	padding: 4px 20px 4px 10px;
}

/* Grid setup and Media queries */

@media only screen and (max-width: 768px) {
    @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) 
    .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr .5fr auto 30px; /* Add 30px back in when you figure footer out */
    grid-template-areas:"name"
                        "left_gutter"
                        "main"
                        "footer";/* Add "footer" back in when you figure footer out */
         }
    }
}

@media only screen and (min-width: 768px) {
    @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
    .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr auto 30px;
    grid-template-areas:"name main"
                        "left_gutter main"
                        "footer footer";
                        /* Add "footer footer" back in when you figure footer out */
         }
    }
}