
body {
    background: #9a9a9a;
    /* background-image: linear-gradient(#2f2f2f, #807373); */
    height: calc(100% - 40px);
}

.container {
  background: transparent;
  height: calc(100% - 0px);
}

* {
    margin: 0;
    padding: 0;
  }

p {
    margin: 0 0 2rem 0;
}

/* Anchors */

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

a:hover 
{
    color: inherit;
    text-decoration:none; 

}

a.underline
{
    background-image: linear-gradient(180deg,transparent 70%,#3d0404 0);
}

a.underline:hover
{
    background-image: linear-gradient(180deg,transparent 70%, #ce0d0d 0);
}

/* Img */

img.social {
  max-height:100%;
  float:left;
}

img.media {
  width: 100%;
  height: auto;
}


img.work_logos {
  width: 20%;
  height: auto;
}

img.grayscale {
  -webkit-filter: grayscale(100%) opacity(25%); 
  filter: grayscale(100%) opacity(25%);
}

img.grayscale2 {
  -webkit-filter: grayscale(100%) opacity(15%);
  filter: grayscale(100%) opacity(15%);
}

img.bg {
  position:absolute;
  top:20%;
  right:15%;
}

img.fg {
  position: relative;
  top:0;
  left:0;
  transform: translateZ(60px) scale(1);
  margin-bottom: 10px;
}



/* Text styles */

h1.firstname {
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
    font-size: 6em; 
    letter-spacing: -.11em;
    margin: 0px 20px 0px 10px;
    }
    
h1.lastname{
    color: #730000;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 6em; 
    letter-spacing: -.11em;
    line-height: 5%;
    margin: 0px 20px 60px 40px;
}

h1.links{
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 2em; 
  letter-spacing: -.11em;
  text-align: right;
  }

h2.title{
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 2em; 
    letter-spacing: -.11em;
    text-align: left;
    justify-content: left;
    transform: translateZ(60px) scale(.8);
    }

h2.section{
    color: #FFFFFF;
    /* font-family: 'IBM Plex Mono', monospace; */
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em; 
    text-transform: uppercase;
    margin: 0px 0px 0px 20px;
    }

h3.section{
    color: #FFFFFF;
    /* font-family: 'IBM Plex Mono', monospace; */
    font-family: 'Share', cursive;
    font-size: 1em; 
    margin: 0px 0px 20px 20px;
    }

.main_text{
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 1.6em; 
    transform: translateZ(60px) scale(.8);
    text-align: left;
    position: relative;
    }
    
.footer_text {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: .875em; 
    text-decoration: none;
    padding-left: 10px;
    }

.watermark {
    color: #FFFFFF;
    font-family: 'Share Tech Mono', monospace;
    font-size: .75em; 
    text-align: right;
    }


/* Side nav */

.sidebar{
  grid-area: sidebar;
}

.nav {
    position: relative;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 15%;
    right: 5%;
    list-style-type: none;
  }

  .nav a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
  }

/* side nav animation fade in */

@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    } 
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

.fadeone {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
    
.fadetwo {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
    
.fadethree {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
    
.fadefour {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.fadefive {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

/* Parallax setup*/
.slides{
  grid-area: slides;
}

.slide {
  position: relative;
  padding: 20% 20%;
}
.slide__content {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  max-width: 1200px;
  margin: auto;
}
 
.slide__bg {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* 
#stae .slide__bg {
  background-color: #2f2f2f;
}

#giphy .slide__bg {
  background-color: #000000;
}

#digitalocean .slide__bg {
  background-color: #807373;
}

#amazon .slide__bg {
  background-color: #000000;
}

#neonhorse .slide__bg {
  background-color: #807373;
} */

/* Grid elements */

.header {
  background: transparent;
  grid-area: header;
}

.footer {
    background:  #000000;
    position: fixed;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    bottom: 0px;
    width: 100vw;
    height: 40px;
    grid-area: footer;
}

.footer_icons {
  display: -webkit-flex;
  display: flex;
  min-width: 150px;
  justify-content: space-evenly;
  align-items: center;
}

/* Icons */
.twitter_icon {
	height: 22px;
  width: 22px;
  fill: white;
}

.github_icon {
	height: 22px;
	width: 22px;
}

.telegram_icon {
	height: 22px;
	width: 22px;
}

.linkedin_icon {
	height: 22px;
	width: 22px;
}

/* Grid setup and Media queries */

@media screen and (max-width: 768px) {
  .container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: minmax(150px, auto) 1fr 30px;
  grid-template-areas:"header"
                      "slides"
                      "footer";
    }
  .sidebar {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    scroll-behavior: smooth;
    transform: translateZ(0px);
    display: grid;
    grid-template-columns: minmax(150px, auto) 1fr;
    grid-template-rows: minmax(150px, auto) 1fr 40px;
    grid-template-areas:"header slides"
                        "sidebar slides"
                        "footer footer";
    }

    /* parallax */
    @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
      html, body {
        overflow: hidden;
        height: 100vh;
      }

      .slides {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 300px;
        scroll-behavior: smooth;
      }
      .slide {
        scroll-snap-coordinate: 0% 0%;
      }
      .slide__content {
        height: 100%;
      }
      .slide, .slide__content {
        transform-style: preserve-3d;
      }
    }
  }